---
---
@charset "utf-8";

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 33px;  
  font-size: 1.4em;
  background-color: whitesmoke;
}

#main > section, footer {
  padding-left: 10vw;
  padding-right: 10vw;
}

footer p {
  text-align: center;
  font-size: .8em;
  color: gray;
}

.intro {
  background-image: url("https://d3hmvhl7ru3t12.cloudfront.net/img/scene/candy-895e91cbc198218dbe56fed67b590a7c37a8bc3ef29d4b8c2989edf2196cfdb4b6150e64cb6f57a01a26268ae764b4cc22da52168121287e68aa8a9891efd616.jpg");
}

.title {
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  padding-bottom: 25px;
}

.all-heroes {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aliceblue;
}

.heroes, .maps {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  .hero-role:nth-child(3) {    
    .hero-grid {
      width: 320px;
    }
  }
}

.maps {
  h3 {
    text-align: center;
  }
}

.heroes {
  h3 {    
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tank {
  color: rgb(238, 166, 72);
}

.damage {
  color: rgb(211, 56, 51);
}

.support {
  color: rgb(72, 160, 84);
}


.awards {
  display: flex;  
  align-items: center;
  flex-wrap: wrap;

  ul {    
    padding: 10px;
    align-self: flex-start;
  }

  #img-div {
    flex-grow: 1;
    margin: 0 auto;    
  }

  #image {    
    margin-left: auto;
    margin-right: auto;
    display: block;    
    max-width: 100%;
    height: auto;
  }

  #img-caption {
    text-align: center;
    color: gray;
    font-size: .7em;
  }
}

.map-type {
  display: grid;
  justify-items: center;
  grid-template-columns: 25fr 35fr 40fr;
  align-items: center;    
  padding-bottom: 25px;  
  
  @media only screen and (max-width: 1270px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));           
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));        
  }

  img {
    box-shadow: 0px 10px 10px rgba(0,0,0,.4);
  }

  p {
    padding: 15px;
    background-color: rgba(0, 0, 0, .6);   
    color: whitesmoke;
    max-width: 340px;
  }
}

.hero-grid { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  width: 255px;

  img {
    transition: all .2s ease-in-out;
    border-radius: 50%;
    margin: 3px;
    border: solid rgb(237, 163, 64) .5px;
    &:hover {
      transform: scale(1.3);    
    }
  }
}

.hover-description {
  opacity: 0;
  position: absolute;  
  height: 50px;
  background-color: rgb(130, 131, 134);
  color: whitesmoke;
  z-index: 10;
  padding: 15px;  
  text-align: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.map-icon {
  width: 200px; 
  height: auto;
  padding-top: 10px;
  opacity: .6;    
}

.role-icon {
  width: 50px;
  height: auto;
}

.game-awards {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aliceblue;
}