---
layout: layouts/base.njk
title: Blog
---

<h1>Archive</h1>

{% for post in collections.posts | reverse %}
    <ul>
      <li>
        <a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a>
      </li>
    </ul>
{% endfor %}
