---
layout: layouts/base.njk
title: "Books"
permalink: books/
---

<h1>Books</h1>

<article class="prose prose-xl">
  <ul class="list-outside">
    {% for book in collections.books | sort(attribute='data.read_at') | reverse %}
      <li>
        <a href="{{ book.url | url }}" class="flex flex-col items-baseline">
          <span>{{ book.data.title }}</span> <span class="text-sm">by {{ book.data.author }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</article>