---
layout: layouts/base.njk
title: David Ojeda
---

<article class="">
  <p>
    I'm a professional procrastinator, and I ocassionally build stuff.
    <br />Welcome to my little, nichless space on the internet.
  </p>
</article>

<article>
  <h2>Latest thoughts</h2>
  <ul>
    {% for post in collections.posts | reverse | head(5) %}
      <li>
        <a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</article>

<article class="">
  <h2>More about me?</h2>
  <p>Check my <a href="/about">"about"</a> page.</p>

  <h2>What am I doing now?</h2>
  <p>Check my <a href="/now">"now"</a> page.</p>

  <h2>Books</h2>
  <p><a href="/books">Quotes and notes of books I've read.</a></p>

  <h2>Wanna talk?</h2>
  <p>
    Come and say hello at
    <a target="_blank" href="mailto:davidojeda@hey.com">my email</a>.
  </p>
</article>
