---
layout: layouts/base.njk
title: David Ojeda
---

<article class="prose prose-xl">
    <h1>Hey, I'm David.</h1>

    <h2>Who am I?</h2>

    <p>I'm a mexican guy in my twenties trying my best to succeed in life. Am I doing a good job? I believe so.</p>

    <h3>In terms of work...</h3>
    <p>I'm a full-stack web developer (yeah, we exist). I love the web and everything that revolves around it.
        Currently doing back-end work at Nubank, a huge digital bank in Latam.</p>

    <a href="cv.pdf" target="_blank">Here's my CV for more details.</a>

    <h3>In terms of hobbies...</h3>
    <p>I enjoy many, many things:</p>
    <ul>
        <li>
            <p><strong>Training and playing with my dogs.</strong> I have two Border Collies, Nina and Alyx. Having
                them and making sure they behave appropiately is a full-time job. And I love it.</p>
        </li>
        <li>
            <p><strong>Writing.</strong> Mainly about personal finance, investments and personal development, but
                also about technology and life journaling. I run a <a href="https://perrodinero.blog">personal
                    finance blog in Spanish named Perro Dinero</a>. Yes, you'll find pictures of my dogs.</p>
        </li>
        <li>
            <p><strong>Reading.</strong> In order to learn and write better, I also need to read a lot. My favorite
                genres are sci-fi and personal development. Check my <a
                    href="https://www.goodreads.com/user/show/10347208-david">Goodreads profile</a> for more
                details.</p>
        </li>
        <li>
            <p><strong>Playing videogames.</strong> They have been an important time of my live, and I believe they
                will continue to be in the long future.</p>
        </li>
        <li>
            <p><strong>Teaching.</strong> I do so mainly in the form of writing, but also in 1:1 conversations. I
                teach and share my knowledge around money and investments to mexican people, and about technology to
                anyone who wants it.</p>
        </li>
    </ul>

    <h3>My core values...</h3>
    <p>There are plenty of things that change over time, but my core values are not one of them. These values are
        what drive all my decisions:</p>
    <ul>
        <li>
            <p><strong>Family.</strong> My family is paramount. If something's gonna harm my relationship with my
                family, then I won't do it.</p>
        </li>
        <li>
            <p><strong>Privacy.</strong> I'm against using people's data to drive revenue. That's reflected throughout my whole lifestyle. I don't support any of Facebook's companies. I don't have Instagram. I don't use Google Search. I don't use Chrome. I don't use Gmail. Is it troublesome and impractical most of the time? Yes. But that's the path I decided to take, and you can do as you please.
            </p>
            <p>There are some conflicts with privacy and family tho. I can't completely leave WhatsApp because
                that's where most of my family hangs around; and that's the most used messaging platform used in
                Mexico.</p>
            <p>Oh, by the way, <strong>this site doesn't track you at all</strong>. I don't even know how many
                people visit it, and I
                don't care.</p>
        </li>
        <li>
            <p><strong>Money.</strong> The amount of money is rarely the driver of my decisions right now. I have a
                good insight on how much is enough. So, if I need to trade freedom and flexibility for money, I'll
                probably not do it. If a decision is likely to help me sleep better at night, then I'll take it.
            </p>
        </li>
        <li>
            <p><strong>Meaningful work.</strong> Sounds like cliché, but working in something I love and enjoy makes
                a big difference in my life. Especially if it's something I'm a user of.</p>
            <p>At this point in my life I wouldn't switch jobs for money or status, I'd do it only for more
                meaningful work.</p>
        </li>
    </ul>

    <h2>And, that's me in a nutshell</h2>

    <p>If you know Spanish and want to improve your money game, <a href="https://twitter.com/PerroDinero">follow me
            on
            Twitter</a>, the only social network I have.
    </p>

    <p>If you want to hire me as a developer, <a href="cv.pdf" target="_blank">download my CV</a> or visit my <a
            href="https://www.linkedin.com/in/david-ojeda-lopez/">LinkedIn profile</a>.</p>

    <p>If you just want to talk, or anything else, <a target="_blank" href="mailto:davidojeda@hey.com">email me</a>.
        Yes, I still
        like email. And yes, puppy pictures are welcome.</p>
</article>