.bouncer, .bouncer-image {
  width: 200px;
  height: 200px;
}

.bouncer {
  position: absolute;
  -webkit-animation: x 5s linear infinite alternate;
          animation: x 5s linear infinite alternate;
}

.bouncer-image {
  
  -webkit-animation: y 3s linear infinite alternate;
          animation: y 3s linear infinite alternate;
}

.x0{
  -webkit-animation: x 5s linear infinite alternate;
          animation: x 5s linear infinite alternate;
}

.x1{
  -webkit-animation: x 4s linear infinite alternate;
          animation: x 4s linear infinite alternate;
}
.x2{
  -webkit-animation: x 3s linear infinite alternate;
          animation: x 3s linear infinite alternate;
}
.x3{
  -webkit-animation: x 2s linear infinite alternate;
          animation: x 2s linear infinite alternate;
}

.x4{
  -webkit-animation: x 10s linear infinite alternate;
          animation: x 10s linear infinite alternate;
}

.x5{
  -webkit-animation: x .6s linear infinite alternate;
          animation: x .6s linear infinite alternate;
}

.y0{
  -webkit-animation: y 2s linear infinite alternate;
          animation: y 2s linear infinite alternate;
}

.y1{
  -webkit-animation: y 4s linear infinite alternate;
          animation: y 4s linear infinite alternate;
}
.y2{
  -webkit-animation: y 5s linear infinite alternate;
          animation: y 5s linear infinite alternate;
}
.y3{
  -webkit-animation: y 6s linear infinite alternate;
          animation: y 6s linear infinite alternate;
}
.y4{
  -webkit-animation: y 8s linear infinite alternate;
          animation: y 8s linear infinite alternate;
}

.y5{
  -webkit-animation: y .7s linear infinite alternate;
          animation: y .7s linear infinite alternate;
}


@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(90vw - 100px));
            transform: translateX(calc(90vw - 100px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(90vw - 100px));
            transform: translateX(calc(90vw - 100px));
  }
}
@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(90vh - 100px));
            transform: translateY(calc(90vh - 100px));
  }
}
@keyframes y {
  100% {
    -webkit-transform: translateY(calc(90vh - 100px));
            transform: translateY(calc(90vh - 100px));
  }
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  background-image: linear-gradient($background-gradient-color 0%, $background-color 12%, $background-color 88%, $background-gradient-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

button {
  transition: background-color 0.3s ease-in-out;
}

a {
  text-decoration: none;
  padding-bottom: 2px;
  transition: all .2s ease-in-out;  
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);  
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left 100%;
  &:hover {
    background-size: 100% 2px;      
    text-decoration: none;
  }
}

.twitter-tweet {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}