<!DOCTYPE html>
<html>

<head>

    {% include head.html %}

</head>

    <body>
        
        <audio>
            <source src="/assets/nyan-cat.ogg" type="audio/ogg">
            <source src="/assets/nyan-cat.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        
        <div hidden class="bouncer x0">
            <img src="/assets/nyan-dog.gif" alt="" class="bouncer-image y0">
        </div>

        <div hidden class="bouncer x1">
            <img src="/assets/nyan-dog.gif" alt="" class="bouncer-image y1">
        </div>

        <div hidden class="bouncer x2">
            <img src="/assets/nyan-dog.gif" alt="" class="bouncer-image y2">
        </div>

        <div hidden class="bouncer x3">
            <img src="/assets/nyan-dog.gif" alt="" class="bouncer-image y3">
        </div>    
        
        <div hidden class="bouncer x4">
            <img src="/assets/nyan-dog.gif" alt="" class="bouncer-image y4">
        </div>      

        <div hidden class="bouncer x5">
            <img src="/assets/nyan-dog.gif" alt="" class="bouncer-image y5">
        </div>    
        
    
        {% include header.html %}

        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </body>

</html>