<!DOCTYPE html>
<html lang="en">

<head>
    <title>David Ojeda</title>

    <meta name="title" content="{{ metadata.title }}">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="author" content="{{ metadata.author.name }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/plain" rel="author" href="/humans.txt" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.url }}/{{ metadata.cover }}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="twitter:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="twitter:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="twitter:image" content="{{ metadata.url }}/{{ metadata.cover }}">

    <meta name="twitter:site" content="@PerroDinero">
    <meta name="twitter:creator" content="@PerroDinero">

    <!-- <meta name="theme-color" content="#F3CA3E"> -->

    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon/favicon-16x16.png' | url }}">
    <link rel="apple-touch-icon" href="{{ '/img/favicon/manifest-icon-192.png' | url }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ '/img/favicon/manifest-icon-512.png' | url }}" sizes="512x512">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2048-2732.jpg' | url }}"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2732-2048.jpg' | url }}"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1668-2388.jpg' | url }}"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2388-1668.jpg' | url }}"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1536-2048.jpg' | url }}"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2048-1536.jpg' | url }}"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1668-2224.jpg' | url }}"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2224-1668.jpg' | url }}"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1620-2160.jpg' | url }}"
        media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2160-1620.jpg' | url }}"
        media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1284-2778.jpg' | url }}"
        media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2778-1284.jpg' | url }}"
        media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1170-2532.jpg' | url }}"
        media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2532-1170.jpg' | url }}"
        media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1125-2436.jpg' | url }}"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2436-1125.jpg' | url }}"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1242-2688.jpg' | url }}"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2688-1242.jpg' | url }}"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-828-1792.jpg' | url }}"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1792-828.jpg' | url }}"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1242-2208.jpg' | url }}"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-2208-1242.jpg' | url }}"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-750-1334.jpg' | url }}"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1334-750.jpg' | url }}"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-640-1136.jpg' | url }}"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ '/img/favicon/apple-splash-1136-640.jpg' | url }}"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
        title="{{ metadata.title }}">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.15/dist/base.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css" />
    <link rel="preconnect" href="https://unpkg.com/">
    <style>
        @font-face {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            src: local(''),
                url('/fonts/rubik-v14-latin-regular.woff2') format('woff2'),
                url('/fonts/rubik-v14-latin-regular.woff') format('woff');
        }

        main {
            margin: 2rem;
            font-family: 'Rubik', 'sans-serif'
        }
        header {
            margin: 1rem;
        }
        header a {
            text-decoration: underline;
            padding: .5rem 1rem;
        }
    </style>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
    </header>
    <main class="prose prose-xl">
        {{ content | safe }}
    </main>
</body>

</html>