---
layout: layouts/base.njk
permalink: "/{{ page.fileSlug }}/"
---

<article class="prose prose md:prose-xl prose-a:no-underline prose-a:text-emerald-700/50">
    <h1>{{ title }}</h1>
    <div class="text-sm">
        <span>by {{ author }}</span>
        <span>•</span> 
        </span> Read on <time datetime="{{ read_at | htmlDateString }}">{{ read_at | readableDate }}</time>
    </div>

    <p>Text in black are quotes; text in green are my notes. I sometimes write in Spanish.</p>

    <ul>
      {% for quote in quotes %}
        <li id="quote-{{ loop.index }}">
            <p>{{ quote.raw }} <a href="#quote-{{ loop.index }}" class="no-underline prose:text-emerald-700/10">#</a></p>   

            {% if (quote.links | length) or (quote.comments | length) %}
                <ul>
                    {% for comment in quote.comments %}
                        <li class="text-emerald-700/90">{{ comment }}</li>
                    {% endfor %}
                    {% for link in quote.links %}
                        <li class="prose-a:text-emerald-700/90">
                            <a href="{{ link.url }}">{{ link.text }} #</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}            

            {% if quote.images | length %}
                {% for image in quote.images %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}">
                {% endfor %}
            {% endif %}               
        </li>
      {% endfor %}
    </ul>
</article>

<button id="#back-to-top" title="Go to top">Back to top</button>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var backToTopButton = document.getElementById("#back-to-top");
    backToTopButton.addEventListener('click', function() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    });
});
</script>